*.display-inline {
	display: inline !important;
	margin: 0 !important;
}

*.div-before-installation {
	margin: 0 !important;
}
*.div-before-installation p a {
	text-decoration: none;
}

*.no-margin {
	margin: 0 !important;
}
